//- footer part

script(src="bower_components/angular/angular.js")
script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
script(src="bower_components/angular-aria/angular-aria.js")
script(src="bower_components/angular-animate/angular-animate.js")
script(src="bower_components/angular-material/angular-material.js")
script(src="assets/js/app.js")
script(src="pages/page1/page1.js")
script(src="pages/page2/page2.js")
script(src="components/version/version.js")
script(src="components/version/version-directive.js")
script(src="components/version/interpolate-filter.js")