//- header part

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

title Angular Material Seed

meta(name="description" content="")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

link(rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css")
link(rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css")
link(rel="stylesheet" href="bower_components/angular-material/angular-material.css")
link(rel="stylesheet" href="assets/css/app.css")

script(src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js")