/*!
 * Stylesheet for app
 */
/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #fff2e0;
}

/*# sourceMappingURL=app.css.map */
