//- index.html

extends templates/layout.pug

block content

  div.main(layout="column", ng-controller="navCtrl")

    md-toolbar.md-padding(layout="row")
      h3 Angular Material Seed

    md-content(flex)
      md-nav-bar(md-selected-nav-item="currentNavItem", nav-bar-aria-label="navigation links")
        md-nav-item(md-nav-sref="page1", name="page1") Page 1
        md-nav-item(md-nav-sref="page2", name="page2") Page 2

      div.ext-content
        ui-view

      div.md-padding Angular seed app: v#[span(app-version)]